-----BEGIN PRIVATE KEY-----
# Replace this file with the PRIVATE KEY matching tls.crt, saved as `tls.key` (no .example).
# Keep it secret — it is git-ignored and must never be committed.
# Only needed when INGRESS_MODE=ingress and TLS_MODE=provided.
-----END PRIVATE KEY-----
